<div class="main">
  <div class="inner">
    <div class="theme__form__wrapper">
      <% if Theme.exists?(user_id: current_user.id, status: "set") %>
        <h2 class="field-heading">設定中のお題</h2>
          <div class="card">
            <%= image_tag @theme.image, class: :card__img %>
            <div class="card__body">
              <%= "季節 : #{@theme.season.name}" %>
            </div>
          </div>
          <div class="theme__action">
            <%= link_to "お題の変更", edit_theme_path(@theme.id), class: :theme__nav__btn %>
          </div>
      <% else %>
        <p class="attention">投句するには、お題を設定する必要があります。</p>
        <h2 class="field-heading">お題の設定</h2>
          <%= form_with model: @theme, url:themes_path, local: true do |f|%>

            <%= render 'shared/error_messages', model: f.object %>

            <div class="field">
              <%= f.label :season_id, "お題の季節" %><br />
              <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"select-box", id:"theme-season"}) %>
            </div>

            <div class="field">
              <%= f.label :image, "お題の画像" %><br />
              <%= f.file_field :image, id:"haiku_image" %>
            </div>

            <div class="actions">
              <%= f.submit "設定する", class: :form__btn  %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>