<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="past-field-heading">
        <h2 class="past_page_heading"><%= link_to "ユーザー情報", edit_user_path(current_user.id) %></h2>
        <%= link_to image_tag("link_allow.jpg", class: :img__link__allow), edit_user_path(current_user.id), class: :link__allow %>
      </div>
      <table class="table">
        <tbody>
          <tr class="tr">
            <th class="table__col1">俳号</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr class="tr">
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <% if user_signed_in? && @user.id == current_user.id%>
            <tr class="tr">
              <th class="table__col1">メールアドレス</th>
              <td class="table__col2"><%= @user.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h2 class="field-heading">
        <%= "#{@user.name} 様の成績"%>
      </h2>
      <table class="table">
        <tbody>
          <tr class="tr">
            <th class="table__col1">投句数</th>
            <td class="table__col2"><%= @finished_haikus.size %></td>
          </tr>
          <tr class="tr">
            <th class="table__col1">総得票数</th>
            <td class="table__col2">
              <%= @total_votes %>
            </td>
          </tr>
          <tr class="tr">
            <th class="table__col1">得票率</th>
            <td class="table__col2">
              <% if @total_votes == 0 %>
                <%= 0 %>
              <% else %>
                <%= @votes_rate %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 class="field-heading">
        <%= "#{@user.name} 様の作品"%>
      </h2>
      <%= render partial: 'shared/haiku_card', collection: @finished_haikus, as: 'haiku'%>
    </div>
  </div>
</div>