<div class="card">
  <% if @field.status == "finished" %>
    <h2 class="page-heading"><%= "第#{@field.id}回 お題" %></h2>
  <% else %>
    <h2 class="page-heading"><%= "現在のお題" %></h2>
  <% end %>
    <%= link_to image_tag(@field.theme.image, class: :card__img ), "#" %>
    <div class="card__body">
      <%= "季節 : #{@field.theme.season.name}" %>
      <%= link_to "出題 : #{@field.theme.user.name} 様", user_path(@field.theme.user_id), class: :card__user %>
    </div>
</div>