<div class="card">
  <% if field.status == "finished" %>
    <%= link_to "第#{field.id}回", field_path(field.id), class: :card__title %>
  <% elsif field.status == "touku" %>
    <h2 class="page-heading"><%= "現在のお題 (投句期間)" %></h2>
    <p class="rule__attention">締切:2022/03/13(日) 22:00</p> 
  <% else %>
    <h2 class="page-heading"><%= "現在のお題 (投票期間)" %></h2>
    <p class="rule__attention">締切:2022/03/15(日) 22:00</p> 
  <% end %>
  <%= link_to image_tag(field.theme.image, class: :card__img ), field_path(field.id) %>
  <div class="card__body">
    <%= "季節 : #{field.theme.season.name}" %>
    <%= link_to "出題 : #{field.theme.user.name} 様", user_path(field.theme.user_id), class: :card__user %>
  </div>
  <% if field.status == "touku" %>
    <%= link_to "投句する", "/fields/#{@field.id}/haikus/new", class: :touku___vote__btn %> 
  <% elsif field.status == "voting" %>
    <%= link_to "投票する", field_path(@field.id), class: :touku___vote__btn %>
  <% end %>
</div>