<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "お待ちしておりました、#{current_user.name} 様" %>
      </div>
    <% end %>
    <div class="main_field_wrapper">
      <h2 class="field-heading">現在のお題</h2>
      <%= render partial: 'field', locals: { field: @field } %>
    </div>
    <% if Field.exists?(status: :finished) %>
      <div class="main_field_wrapper">
        <h2 class="field-heading">前回のお題</h2>
        <%= render partial: 'field', locals: { field: @last_time_field } %>
      </div>
    <% end %>
    <div class="main_field_wrapper">
      <div class="past-field-heading">
        <h2 class="past_page_heading"><%= link_to "過去のお題を見る", past_fields_path %></h2>
        <%= link_to image_tag("link_allow.jpg", class: :img__link__allow), past_fields_path, class: :link__allow %>
      </div>
    </div>
  </div>
</main>