<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、 
        <%= link_to current_user.name, root_path, class: :greeting__link %>
        さん
      </div>
    <% end %>
    <%# // ログインしているときは上記を表示する %>

    <div class="main_field_wrapper">
      <%= render partial: 'field', locals: { field: @field } %>
      <% if @field.status == "touku" %>
        <%= link_to "投句する", "/fields/#{@field.id}/haikus/new", class: :nav__btn %> 
      <% elsif @field.status == "voting" %>
        <%= link_to "投票する", field_path(@field.id), class: :nav__btn %>
      <% end %>
    </div>
    <div class="card__wrapper">
      <%= render partial: 'field', collection: @fields %> 
    </div>
  </div>
</main>